*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    width: 100px;
    height: 50px;
    background-color: #E84949;
    /* border:1px solid blue; */
    box-shadow:5px 10px 8px #888888;
     /* transition: all 1s ease 1s; */
     display: flex;
     justify-content: start;
     align-items: start;
     position: relative;
     box-sizing: border-box;
     /* padding-left: 12px;
     padding-top: 3.5px; */
     
  
}
.box p{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 25px;

}
.animation{
      animation-name: babbar;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 3ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
    background-color: black;
    width: 0%;
    height: 100%;
     transition: all 1s ease 1s;
     object-fit: cover;


}
.box:hover{
    .animation{
width: 100%;
    }
    cursor: -webkit-grab; cursor: grab;

}





/* @keyframes babbar{
    to{
        width: 0%;
       

    }
    from{
        width:50px

    }
} */